{{ header }}

<!-- Customer Index Table -->
<div class="row py-2">
    <table class="table table-bordered data-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Book</th>
        </tr>
        </thead>
        <tbody id="books-authors-content">
            {% if results|length > 0 %}
                {% for result in results %}
                <tr class="single-author-book-row">
                    <td class="text-left">{{ result.id }}</td>
                    <td class="text-left">{{ result.name }}</td>
                    <td class="text-left">
                        {% if result.book is empty %}
                            No books!
                        {% else %}
                            {{ result.book}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No results!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{{ footer }}